.carousel-container {
  position: relative;
  align-items: center;
  background: #f1f1f1;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  object-fit: fill;
  object-position: center 70%;
  width: 100%;
  height: 500px;
}

.carousel-item {
  height: 100%;
  min-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.button-container > button {
  background-color: transparent;

  border: solid #f1f1f1 2px;
  border-radius: 4px;
  color: whitesmoke;
  font-size: 24px;
}

.slider-button-next {
  border: 0;
  position: absolute;
  right: 20px;
}

.slider-button-prev {
  border: 0;
  position: absolute;
  left: 20px;
}
