.booking-content {
  position: fixed;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}

.booking-buttons {
  border: 1px solid purple;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 4px;
  padding: 0px 40px 0px 40px;
  text-align: start;
}

.navigation-bar {
  background-color: #fafafb;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  height: 100px;
  left: 0px;
  margin-left: 0;
  z-index: 1;
  overflow: hidden;
}

.open-calendar {
  display: fle;
}
