.booking-content {
  position: fixed;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  left: 0px;
  margin-left: 0px;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}

.navigation-bar {
  background-color: #fafafb;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  height: 100px;
  left: 0px;
  margin-left: 0;
  z-index: 1;
  overflow: hidden;
}
