.navigation-bar {
  background-color: #a4c991;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  height: 100px;
  left: 0px;
  margin-left: 0;
}

.navigation-buttons {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.logo {
  margin-right: 100px;
}

ul {
  display: flex;

  list-style-type: none;
  padding: 20px;
  justify-content: space-around;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
}
